
<form class="pokemon-form" method="POST" action="/">

  <div class="pokemon-attribute">
    name:<input name="name" type="text"/>
  </div>
  <div class="pokemon-attribute">
    img:<input name="img" type="text"/>
  </div>
  <div class="pokemon-attribute">
    height:<input name="height" type="text"/>
  </div>
  <div class="pokemon-attribute">
    weight:<input name="weight" type="text"/>
  </div>
  <input name="submit" type="submit"/>
</form>
